a {
  color: #000;
  text-decoration: none;
}

body {
  background: #eee;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, Cantarell, "Oxygen Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  margin-top: 0;
}

h1 {
  display: inline;
  background: #000;
  color: #eee;
}

h2 {
  font-size: 1rem;
}

h3 {
  background: #000;
  color: #eee;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -10px;
  padding-left: 10px;
  padding-top: 5px;
}

h3 a {
  color: #eee;
}

span.navButton {
  background: #000;
  color: #eee;
  padding-left: 10px;
  padding-right: 10px;
}

input.proposeButton {

}

div.chat {
  border-style: solid;
  border-radius: 5px;
  border-color: #000;
  border-width: 2px;
  margin: 2%;
  padding: 2%;
}

div.proposalGrouping {
  float: left;
  width: 45%;
}

div.tally {
  border-style: solid;
  border-radius: 5px;
  border-color: #000;
  border-width: 2px;
  margin: 2%;
  overflow: auto;
  padding: 1%;
}

div.vote {
  border-style: solid;
  border-radius: 0px;
  border-color: #444;
  border-width: 1px;
  margin: 1%;
  padding: 0;
}

div.votes {
  border-style: solid;
  border-radius: 5px;
  border-color: #000;
  border-width: 2px;
  margin: 2%;
  padding: 2%;
}

form label {
  font-weight: bold;
}

header {
  background: #000;
  color: #eee;
  overflow: auto;
  padding-left: 10px;
}

/*
 * https://stackoverflow.com/questions/773517/style-input-element-to-fill-remaining-width-of-its-container
 * label: span --------- input -------------- /span
 */
input.rightInput {
  width:100%;
}
label.rightLabel {
  float: left;
  font-weight: bold;
}
span.rightSpanner {
  display:block;
  overflow:hidden;
}

textarea.freeFormText {
  width: 100%;
}
